<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
   
    <link href="~/Content/bootstrap_Flatly.css" rel="stylesheet" />
</head>

<body>
    <div>
        @* Header Menu *@
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Address Book</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/Home/Add">Add</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container">
            @* Page Header *@
            <div class="page-header" id="banner">

            </div>
            @* Page Body *@
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            @* Page Footer*@
            <footer>
                <div class="row">
                    <div class="col-xs-12">
                        <p> Made by Nur Hazierah Rosdi</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>
